//brand colors

$color-cranburi-darkred: #C62828;

$color-cranburi-red: #D32F2F;

$color-cranburi-lightred: #F44336;

$color-cranburi-darkgreen: #2E7D32;

$color-cranburi-green: #388E3C;

$color-cranburi-lightgreen: #4CAF50;

$color-cranburi-darkgrey: #424242;

$color-cranburi-grey: #616161;

$color-cranburi-lightgrey: #9E9E9E;


//brand fonts
$cranburi-font-sans-serif-primary: 'Varela Round', sans-serif;
$cranburi-font-sans-serif-secondary: 'Roboto', sans-serif;